  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">メインタイトル</h1>
        <p class="lead text-muted">てすとテスト</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'easy_task.jpg', class: 'rounded' %>

            <div class="card-body">
              <p class="card-text">まずは簡単なシフトを作ってみましょう！</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "挑戦", easy_path , {class: "btn btn-primary mx-1"} %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">初級ミッション</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'normal_task.jpg', class: 'rounded' %>
            <div class="card-body">
              <p class="card-text">慣れてきたら従業員の要望に応えてみましょう！<br>考慮する項目が増えてきます。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "挑戦", normal_path , {class: "btn btn-primary mx-1"} %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">中級ミッション</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'hard_task.jpg', class: 'rounded' %>

            <div class="card-body">
              <p class="card-text">現実のつらさを味わいましょう。<br>お酒が飲みたくなります。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "挑戦", hard_path , {class: "btn btn-outline-danger mx-1"} %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">上級ミッション</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<main>