<!DOCTYPE html>
<html>
  <head>
    <title>従業員の無駄づかい</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
  </head>
  
  <body>
    <header>
      <%= render 'shared/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <%= render 'shared/footer'%>
    </footer>
  </body>
</html>
